<div class="card"><slot /></div>

<style lang="scss">

    .card {
        background-color: var(--green-background-color);
        border-left: 6px solid var(--green-heading-color);

        :global( h3 ) { color: var(--green-heading-color) }
        :global( p ) { color: var(--green-text-color) }
    }

</style>