<div class="card"><slot /></div>

<style lang="scss">

    .card {
        background-color: var(--purple-background-color);
        border-left: 6px solid var(--purple-heading-color);

        :global( h3 ) { color: var(--purple-heading-color) }
        :global( p ) { color: var(--purple-text-color) }
    }

</style>