<div id="chapter-menu-wrapper"><slot /></div>

<style lang="scss">

    #chapter-menu-wrapper {

        :global( h3 ) {
            color: var(--yellow-heading-color);
            font-family: "Harmonia Sans";
            font-size: 28px;
            margin-bottom: 16px;

            :global( #topic-label ) { color: var(--red-heading-color) }
        }

        :global( ol ) { list-style: none }

        :global( ol ol ) {
            display: grid;
            grid-template-columns: max-content auto;
            align-items: baseline;
        }

        :global( .topic ) { margin-bottom: 32px }
        :global( .chapter ) { display: contents }

        :global( #chapter-index ) {
            grid-column: 1;

            color: var(--heading-color);
            font-family: "Akkurat Mono";
            font-size: 20px;
            padding-right: 15px;
        }

        :global( #chapter-title ) {
            grid-column: 2;

            color: var(--heading-color);
            font-family: "Akkurat";
            font-size: 22px;
        }
    }

</style>
