<div id="chapter-menu-wrapper">
    <slot />
</div>

<style lang="scss">

    #chapter-menu-wrapper {
        padding-top: 42px;

        :global( h3 ) {
            color: var(--highlight-color);
            font-family: "Harmonia Sans";
            font-size: 28px;
            margin-bottom: 16px;
        }

        :global( a ) {
            color: var(--heading-color);
            font-family: "Akkurat";
            font-size: 22px;
            padding-left: 15px;
        }


        :global( ol ) { counter-reset: topic }

        :global( ol > .topic ) {
            counter-increment: topic;
            list-style: none;

            margin-bottom: 32px;
        }

        :global( .topic > h3::before ) {
            content: "TOPIC " counter(topic) ": ";
            color: var(--red-heading-color);
        }

        :global( ol ol ) {
            counter-reset: chapter;
            list-style: none;

            display: grid;
            grid-template-columns: min-content auto;
        }

        :global( ol ol > .chapter ) {
            counter-increment: chapter;

            display: grid;
            grid-column: 1/-1;
            grid-template-columns: subgrid;

            align-items: baseline;
        }

        :global( ol ol > .chapter::before ) {
            content: counter(topic) "." counter(chapter);
            color: var(--heading-color);
            font-family: "Akkurat Mono";
            font-size: 20px;
        }
    }

</style>
