<div id="content-wrapper"><slot/></div>

<style lang="scss">

    #content-wrapper > :global( article ) {
        
        & > :global( h1 ) {
            color: var(--heading-color);
            font-family: "Harmonia Sans";
            font-size: 56px;
            margin-top: -10px;
            margin-bottom: 42px;
        }

        & > :global( h2 ) {
            color: var(--heading-color);
            font-family: "Harmonia Sans";
            font-size: 34px;
            margin-top: 48px;
            margin-bottom: 18px;
        }

        & > :global( h1 + h2 ) { margin-top: 42px }

        & > :global( p ) {
            color: var(--text-color);
            font-family: "Akkurat";
            font-size: 18px;
            margin-top: 1em;

            a { color: var(--highlight-color) }
        }


        & > :global( .card ) {
            padding: 12px 24px 18px;
            margin-top: 18px;

            & > :global( h3 ) {
                font-family: "Harmonia Sans";
                font-size: 20px;
            }

            & > :global( p ) {
                margin-top: 4px;
                font-family: "Akkurat";
                font-size: 18px;

                & + :global( h3 ) { margin-top: 18px;}
            }
        }
    }

</style>