<div id="content-wrapper"><slot/></div>

<style lang="scss">

    #content-wrapper {
        
        :global( h1 ) {
            color: var(--heading-color);
            font-family: "Harmonia Sans";
            font-size: 56px;
            margin-top: -10px;
            margin-bottom: 42px;
        }

        :global( h2 ) {
            color: var(--heading-color);
            font-family: "Harmonia Sans";
            font-size: 34px;
            margin-top: 48px;
            margin-bottom: 16px;
        }

        :global( h1 + h2 ) { margin-top: 42px }

        :global( p ) {
            color: var(--text-color);
            font-family: "Akkurat";
            font-size: 18px;

            a { color: var(--highlight-color) }
        }

        :global( p + p ) { margin-top: 1em }
    }

</style>