<div id="side-menu-wrapper"><slot /></div>

<style lang="scss">

    #side-menu-wrapper {

        :global( h3 ) {
            color: var(--heading-color);
            font-family: "Harmonia Sans";
            font-size: 18px;
            margin-bottom: 3px;
        }

        :global( a ) {
            color: var(--heading-color);
            font-family: "Akkurat";
            font-size: 17px;
        }
        
        :global( a:hover ) { color: var(--yellow-heading-color) }


        :global( ol ) { list-style: none }

        :global( ol > .topic ) { margin-bottom: 15px }

        :global( ol ol ) {
            display: grid;
            grid-template-columns: min-content auto;
            align-items: baseline;
        }

        :global( ol ol > #chapter-index ) {
            grid-column: 1;

            color: var(--heading-color);
            font-family: "Akkurat Mono";
            font-size: 16px;
            padding-right: 12px;
        }

        :global( ol ol > .chapter ) { grid-column: 2 } 
    }

</style>
