<div id="side-menu-wrapper"><slot /></div>

<style lang="scss" is:global>

    #side-menu-wrapper {

        width: max-content;
        max-width: 420px;

        ol { list-style: none }

        ol ol {
            display: grid;
            grid-template-columns: max-content auto;
            align-items: baseline;
        }

        .topic { margin-bottom: 15px }
        .chapter { display: contents }
        .chapter > * { color: var(--heading-color) }
        .chapter:hover > * { color: var(--yellow-heading-color) }


        h3 {
            color: var(--heading-color);
            font-family: "Harmonia Sans";
            font-size: 18px;
            margin-bottom: 3px;
        }

        #chapter-index {
            grid-column: 1;

            font-family: "Akkurat Mono";
            font-size: 15.6px;
            padding-right: 12px;
        }

        #chapter-title {
            grid-column: 2;

            font-family: "Akkurat";
            font-size: 17px;
        }
    }

</style>
