<div id="side-menu-wrapper"><slot /></div>

<style lang="scss">

    #side-menu-wrapper {
        margin: 10px 60px 60px;

        :global( ol ) { list-style: none }

        :global( ol ol ) {
            display: grid;
            grid-template-columns: max-content auto;
            align-items: baseline;
        }

        :global( .topic ) { margin-bottom: 15px }
        :global( .chapter ) { display: contents }
        :global( .chapter > * ) { color: var(--heading-color) }
        :global( .chapter:hover > * ) { color: var(--yellow-heading-color) }


        :global( h3 ) {
            color: var(--heading-color);
            font-family: "Harmonia Sans";
            font-size: 18px;
            margin-bottom: 3px;
        }

        :global( #chapter-index ) {
            grid-column: 1;

            font-family: "Akkurat Mono";
            font-size: 15.6px;
            padding-right: 12px;
        }

        :global( #chapter-title ) {
            grid-column: 2;

            font-family: "Akkurat";
            font-size: 17px;
        }
    }

</style>
