<div id="tinfoil-hat">
    <aside><slot name="aside" /></aside>
    <main><slot name="main" /></main>
</div>

<style>

    body { background-color: var(--primary-background-color) }

    #tinfoil-hat {
        width: 100vw;
        min-height: calc(100vh - 51px);
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: stretch;
    }

    #left-spacer { background-color: var(--secondary-background-color) }

    #center {
        display: flex;
        flex-direction: row;
    }

    aside, main {
        --padding-value: 60px;
        overflow-y: scroll;
    }

    aside {
        max-width: 24ch;
        padding: var(--padding-value);
        background-color: var(--secondary-background-color);
    }

    main {
        width: 1080px;
        padding: var(--padding-value) var(--padding-value) 0;
        margin-bottom: 160px;
    }

</style>