<body>
    <aside><slot name="aside" /></aside>
    <main><slot name="main" /></main>
</body>

<style>

    body {
        background-color: var(--primary-background-color);
        display: flex;
        justify-content: stretch;
        width: 100vw;
        min-height: 100vh;
    }

    aside {
        background-color: var(--secondary-background-color);
        display: flex;
        flex-direction: column;
    }

    main {
        padding: 60px;
        display: flex;
        flex: 1;
        
    }

</style>